on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.16
          - 1.15
          - 1.14
          - 1.13
          - 1.12
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          go-version: ${{ matrix.go-version }}
      - name: test
        run: |
          ls
          golint ./...
          go vet ./...
          go build -v ./...
          go test -v ./...
